connectors-facade/src/main/resources/xsd/elements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="elements">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="stateHandler" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="component" type="xs:string" use="required" />
                  <xs:attribute name="state" type="xs:string" use="required" />
                  <xs:attribute name="handler" type="xs:string" use="required" />
                  <xs:anyAttribute processContents="lax" />
                </xs:complexType>                
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>